<header style="height: 48px;" 
    class="fixed w-screen bg-purple-800 top-0 left-0 px-12 py-3">
        <div class="lg:flex lg:flex-row lg:text-center hidden">
            <h5 class="text-sm font-bold text-white mr-12">RUNNING DAYS:  <span class="font-bold text-purple-400">2228</span></h5>
            <h5 class="text-sm font-bold text-white mr-12">ACTIVE INVESTORS:  <span class="font-bold text-purple-400">185</span></h5>
            <h5 class="text-sm font-bold text-white mr-12">SERVER TIME:  <span class="font-bold text-purple-400">{{ date }}</span></h5>
        </div>
    </header>